<?xml version='1.0' encoding='UTF-8' ?>
<!-- 
     Copyright (C) 2015 DVCONSULTORES
 -->  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8"/> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"/> <![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Dotación</title>
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="../assets/images/favicon.ico"/>

    <!-- Bootstrap core CSS -->

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="../assets/fonts/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!-- Custom styling plus plugins -->
    <link href="../assets/css/custom.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/maps/jquery-jvectormap-2.0.1.css" />
    <link href="../assets/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="../assets/css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/nprogress.js"></script>
    <script>
        NProgress.start();
    </script>
    
   
 <script src="../assets/js/bootstrap.min.js"></script>
 <script src="../assets/js/custom.js"></script>
 <script src="../assets/js/nicescroll/jquery.nicescroll.min.js"></script>
    
    <!--[if lt IE 9]>
        <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</h:head>

</html>
